.image-text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    margin-left: 240px;
    margin-top: -50px;
}

.drop-shadow {
    max-width: 707px;
    width: 707px;
    height: auto;
    object-fit: cover;
    box-shadow: -8px 8px 0 blue;
    border-radius: 15px;
    gap: 20px;
}

.text-container {
    max-width: 500px;
    font-family: "Font 1";
}

.Title {
    font-family: "Font 2";
    font-size: 28px;
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    line-height: 1.6;
}